<%- include('../components/curso-basico-lhs') %>
<%- include('../components/pasos-basicos') %>
<%- include('../components/en-este-curso') %>
<%- include('../components/pasos-basicos-down') %>
<%- include('../components/somos') %>
<%- include('../components/nuestros-clientes-nos-alavan') %>
<%- include('../components/temario-del-curso') %>
<div class="section section-green text-center">
  <h1>Aprende a sobrevivir al SATanás</h1>
  <a
    class="btn btn-secondary btn-lg mt-4"
    href="https://lahorasat.podia.com/curso-en-video"
    data-podia-embed="link"
  >
    Comprar curso
  </a>
</div>
<%- include('../components/colabs') %>
<%- include('../components/asesorias') %>